<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Kosár tartalma:</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <table class="tartalom">
                <tr>
                    <th>Termékek:</th>
                </tr>
                <tr *ngFor="let kosart of tartalom | async">
                    <td>{{kosart.aru_nev}}</td>
                    
                </tr>
            </table>
        </mat-card-content>
        <div>
            <button mat-raised-button color="primary" type="submit" (click)="rendelLead()">Megrendel</button>
        </div>
    </mat-card>
</div>